body {
  background: url(C:/Users/grond/Desktop/ESILV/S8/WAA/Workshop2/background2.jpg);
  color: #FFF8DC;


}
.main{
  max-width: 600px;
  margin-top:auto;
  margin-left: auto;
  margin-right: auto;
  border-style: double;
  border-radius: 5px;
  margin-bottom: 50px;
}
.js-name {
  margin-left: auto;
  margin-right: auto;
}
#compute{
    background-color: #F08080; /* Green */
    border-style: solid ;
    border-color: #F08080;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-color:
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 10px 10px 5px grey;
    margin: auto;
}
