body {
  /*background: url(C:/Users/grond/Desktop/ESILV/S8/WAA/Workshop2/background2.jpg);*/
  color: #FFFFFF;
  align-items: center;


}

h1{
  background-color: #483D8B	;
}


.main{
  max-width: 600px;
  border-style: double;
  border-radius: 5px;
  margin-bottom: 50px;
}

h2{
  color:#000000	;
  font-size: 16px;
}
h3{
  color:#000000;
  font-size: 16px;
}
.js-option label {
    color:green;
    font-family: Consolas, Baskerville, 'Segoe UI', sans-serif;
}
label { background-color:#FFFFFF; color:#000000; }


.bar-name-input{
  margin-bottom: 5px;
}
.pricehour-input{
  margin-bottom: 5px;
}
.priceperson-input{
  margin-bottom: 5px;
}
.booker-name-input{
  margin-bottom: 5px;
}
.time-input{
  margin-bottom: 5px;
}
.persons-input{
  margin-bottom: 5px;
}


.hh {
  width: 20px
}
.pp {
  width: 20px
}
.cc {
  width: 20px
}
.bb {
  width: 20px
}

#compute{
    background-color: #F08080; /* Green */
    border-style: solid ;
    border-color: #F08080;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    cursor: pointer;
}
#compute:hover {opacity: 0.8}
