body {
  background: url(C:/Users/grond/Desktop/ESILV/S8/WAA/Workshop2/background2.jpg);
  color: #FFF8DC;


}
.main{
  max-width: 600px;
  border-style: double;
  border-radius: 5px;
  margin-bottom: 50px;
}
.js-option{
  height: 15px;
  width: 15px;
  margin: 20px;
  padding: 15px 30px 15px 62px;
  border: 3px solid #fff;
  border-radius: 260px;
  color: #fff;
  background-color: #6a8494;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: background-color .2s, box-shadow .2s;
}

#compute{
    background-color: #F08080; /* Green */
    border-style: solid ;
    border-color: #F08080;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    cursor: pointer;
}
#compute:hover {opacity: 0.8}
